.textElipsis {
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* Toast */
.chakra-alert {
	padding-right: 1rem !important;
}
.chakra-alert button {
	position: relative;
	top: auto;
	right: auto;
}
.chakra-alert__title {
	font-weight: 500 !important;
}

tspan {
	fill: var(--chakra-colors-gray-200) !important;
	font-family: var(--chakra-fonts-body) !important;
}

line {
	stroke: var(--chakra-colors-gray-200) !important;
}
